@import 'src/styles/mixins.module.scss';

.header {
  border-bottom: 1px solid var(--border-bottom-color);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-breakpoint-down(md) {
    padding: 10px;
  }
}

.headerLogo {
  @include media-breakpoint-down(md) {
    img {
      width: 47px;
    }
  }
}

.headerNav {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
}
