@import 'src/styles/mixins.module.scss';

.container {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}

.content {
  width: 100%;
  @include media-breakpoint-down(md) {
    min-height: calc(100vh - 80px);
  }
}

.mainContent {
  padding: 20px;
}
